# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database (sensitive data)
instance/*.db

# Uploaded images
static/uploads/*
!static/uploads/.gitkeep

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore
instance/*.db
